
<li>
    <p>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        <small>
            <form action="/comments/destroy/<%=comment.id%>">
                <button type="submit" name="destroy-post" id="destroy-post" class="delete-comment-button" >
                 <i class="fas fa-eraser"></i>
                 Delete comment
                </button>
            </form>
        </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>    

</li>