<footer>
    <section id="contact">
        <h1 class="section-heading ">
            <span>
                <i class="fas fa-address-card"></i>
            </span>
            <span> Contact </span>
        </h1>
        <div id="contact-container">

            <div id="contact-form-container">
                <form id="contact-form">
                    <input id="input-name" name="name" type="text" placeholder="Your Name">
                    <input id="input-email" name="input-email" type="text" required placeholder="Your Email">
                    <textarea id="input-message" name="input-message" rows="2" cols=40 placeholder="Message"></textarea>
                    <button class="sub-btn" type="submit">SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </section>

</footer>