
      <h1>
          Codeial / <%=locals.title%>
          <img src="../assets/images/logo.png" alt="connectUs" height="100px" width="100px">
    
     </h1>

     <section>
         <h4>Posts</h4>
         <form action="" id="new-post-form" method="POST">
             <textarea name="content" id="new-post-content" cols="30" rows="3" placeholder="Type here..."></textarea>
             <input type="submit" value="post">
         </form>
     </section>
      