
#footer-container{
    display: flex;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgb(93, 168, 32),rgb(52, 184, 48),rgb(23, 122, 23));
    margin: 0%;
    #contact{
        .section-heading{
         text-align: center;
        }
        #contact-container{
            #contact-form-container{
                #contact-form{
                    #input-name{
                        margin: 10px;
                        padding: 5px;
                        display: inline;

                    }
                    #input-email{
                        margin: 10px;
                        padding: 5px;
                        display: inline;
                    }
                    #input-message{
                        margin: 10px;
                        padding: 5px;
                        display: block;

                    }
                    .sub-btn{
                        background-color: white;
                        color:rgb(109, 182, 26);
                        margin-left: 7rem;
                    }
                    .sub-btn:hover{
                        background-color :rgb(109, 182, 26);
                         color: white;
                    }
                }

            }
        }
    }

    
}