#layout-header{
  nav{
    
    background-image: linear-gradient(to bottom, rgb(93, 168, 32),rgb(52, 184, 48),rgb(57, 180, 57),rgb(93, 168, 32));
    display: flex;
    justify-content: space-between;
    padding: 0 ;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;

    .logo{ 
      margin-left: 0px;
      font-size: 1.4rem;
      font-weight: bold;
      width:80px;
    }
    .auth-links{
      ul{
        list-style: none;
        margin: 5% 5px;
        display: flex;

        li{
            margin-right: 10px;
            button{
              background-color: blanchedalmond;
              a{
                color: black;
              }
            }
        }
    }
   }
    a{
      color: white;
      text-decoration: none;
    
  }

  }

}

#img-logo{
  
    background-image: url("/images/logo.jpg");
    height:5vh;
    background-repeat: no-repeat;
    background-size:auto 100%;
    background-position: left;
    
  
}
