<link rel="stylesheet" href="../../../assets/css/new_comment.css">

<div id="new-comment-div">
    <table style="background-color: rgb(244, 244, 245);">

        <tr>
          <th><img id="img-logo" height="40px" width="40px" style="height: 100%; margin-top: 0%;">ConnectUs</th>
        </tr>

        <tr>
          <td><p style="font-weight: bold;">Hi <%=comment.user.name%>! </p></td>
        </tr>

        <tr>
          <td>Your comment <strong><%=comment.content%></strong> just got published.</td>
        
        </tr>

        <tr>
            <td>
                Thanks!
            </td>
        </tr>

      </table>
</div>