#img-logo {
  background-image: url("/images/logo.jpg");
  height: 15vh;
  width: 50vw;
  max-width: 70%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#home-container {
  margin: 0%;
  padding: 0%;
  display: flex;
}

#home-container #sidebar {
  width: 0vw;
  min-height: auto;
  height: fit-content;
  background-image: linear-gradient(to right, #d8d8d8, #f8f8f8, #dddada);
}

#home-container #feed-posts {
  width: 65%;
}

#home-container #feed-posts #feed-posts-div {
  padding-left: 15%;
  margin: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container {
  padding: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container .li-post p button {
  background-color: #5da820;
}

#home-container #feed-posts #feed-posts-div #posts-list-container .li-post p button a {
  text-decoration: none;
  color: white;
}

#home-container #feed-posts #feed-posts-div #posts-list-container .li-post p button:hover {
  backgroud-color: #88b06a;
}

#home-container #feed-posts #feed-posts-div #posts-list-container .li-post p div {
  padding: 30%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul {
  padding: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul li {
  list-style: none;
  border: 1px solid #f1f1f1;
  padding: 1%;
  margin: 1%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul li #delete-button-div {
  margin-left: 80%;
}

#home-container #userAndFriendDiv {
  height: 100%;
  width: 20vw;
  padding: 0px;
  border: 0.5px solid #913d3d;
  line-height: 100%;
  margin-left: 15vw;
  background-image: linear-gradient(30deg, #88b06a, #b8e395, #88b06a);
}
