#post-list-container ul {
  list-style-type: none;
}

#post-list-container ul div {
  background-color: #d4d1d1;
  margin-left: 25rem;
  margin-right: 25rem;
}

#post-comments-list-container .post-comment-list {
  list-style-type: none;
}

#post-comments-list-container .post-comment-list div {
  background-color: #443d3d;
  margin-left: 25rem;
  margin-right: 25rem;
}
