#img-logo {
  background-image: url("/images/logo.jpg");
  height: 15vh;
  width: 40vw;
  max-width: 70%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#home-container {
  margin: 0%;
  padding: 0%;
  display: flex;
}

#home-container #entertainemt {
  width: 25%;
  min-height: auto;
  height: 100%;
  background-image: linear-gradient(to right, #d8d8d8, #f8f8f8, #dddada);
}

#home-container #feed-posts {
  width: 65%;
}

#home-container #feed-posts #feed-posts-div {
  padding-left: 15%;
  margin: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container {
  padding: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul {
  padding: 0%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul li {
  list-style: none;
  border: 1px solid #f1f1f1;
  padding: 1%;
  margin: 1%;
}

#home-container #feed-posts #feed-posts-div #posts-list-container ul li #delete-button-div {
  margin-left: 80%;
}

#home-container #user-friends {
  height: 100%;
  width: 15%;
  padding: 0px;
  border: 0.5px solid #d8d6d6;
  line-height: 100%;
  margin-left: 0px;
  background-image: linear-gradient(to right, #d8d8d8, #f8f8f8, #dddada);
}
