body {
  margin: 0px;
}

#page-heading {
  color: #5da820;
  size: 100px;
}

#page-heading:hover {
  color: #6db61a;
}

div label {
  color: #7bb116;
}

hr {
  margin-left: 40rem;
  margin-right: 40rem;
}

#submit-button {
  background-color: #5da820;
  color: white;
}

#submit-button:hover {
  background-color: #6db61a;
}
