body {
  margin: 0px;
}

#signInFormDiv {
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
}

#page-heading {
  color: #5da820;
  size: 100px;
}

#page-heading:hover {
  color: #6db61a;
}

div label {
  color: #7bb116;
}

hr {
  margin-left: 40rem;
  margin-right: 40rem;
}

#submit-button {
  background-color: #5da820;
  border-radius: 20px;
  color: white;
}

#submit-button:hover {
  background-color: #6db61a;
}

a {
  color: white;
  text-decoration: none;
}
